.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  justify-items: center;
}

.errorBage {
  padding: 25px;
  color: red;
  margin-bottom: 20px;
  font-size: 24px;
}
